.card_container {
  font-family: "Noto Sans";
  width: 60vh;
  max-width: 1080px;
  max-height: 1340px;
  // WebKit-based browsers will ignore this
  height: -moz-available;
  // Mozilla-based browsers will ignore this.
  height: -webkit-fill-available;
  // For WebKit-based browsers, Edge not support this
  height: fill-available;
  //   background-color: rgb(247, 245, 228);
  position: relative;
  .card_container_overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    z-index: 12;
    .download_complate {
      width: 40%;
      height: 40%;
      background-image: url("./image/Finish.png");
      background-repeat: no-repeat;
      background-size: contain;
      margin-top: 10%;
    }
  }
  .card_workspace {
    max-width: 1080px;
    max-height: 1340px;
    // background-size: 200%;
    // background-image: url("./image/background.png");
    display: flex;
    justify-content: center;
    .design_frame {
      width: 100vw;
      height: 100vh; /*給 Safari 以外的瀏覽器讀取*/
      height: calc(var(--vh, 1vh) * 100);
      background-size: 200%;
      background-image: url("./image/background.png");
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    .index_frame {
      width: 100vw;
      height: 100vh; /*給 Safari 以外的瀏覽器讀取*/
      height: calc(var(--vh, 1vh) * 100);
      background-size: 200%;
      background-image: url("./image/background.png");
      display: flex;
      align-items: flex-start;
      justify-content: center;
      position: relative;
      .index_frame_overlay {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        .enter_stamp {
          width: 53%;
          height: 38%;
          background-repeat: no-repeat;
          background-size: 100%;
          background-image: url("./image/home.png");
          background-position: center;
          transition: 0.3s;
          -webkit-user-select: none;
          -moz-user-select: none;
          -o-user-select: none;
          user-select: none;
          cursor: pointer;
          &:hover {
            transform: scale(1.03);
          }
          &:active {
            transform: scale(1.03);
          }
        }
      }
    }

    .design_step {
      // padding: 40px 0 0 0;
      display: flex;
      justify-content: center;
      margin: 0 0 7% 0;
      .step_row {
        width: 100%;
        max-height: 60px;
        height: 5vh;
        background-repeat: no-repeat;
        background-size: 100%;
        transition: 0.3s;
        -webkit-user-select: none;
        -moz-user-select: none;
        -o-user-select: none;
        user-select: none;
        background-position-y: -1px;
        &.step1 {
          background-image: url("./image/step1.png");
        }
        &.step2 {
          background-image: url("./image/step2.png");
        }
        &.step3 {
          background-image: url("./image/step3.png");
        }
      }
    }
    .card_template_select_area {
      width: 100%;
      height: 100%;
      overflow: hidden;
      max-width: 756px;
      padding: 0 10%;
      box-sizing: border-box;
      cursor: grab;
      pointer-events: auto;
      .card_template_wrap {
        width: 100%;
        height: 100%;
        padding-top: 140%;
        transition: 0.5s;
        box-sizing: border-box;
        position: relative;
        .card_template_wrap_overlay {
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          display: flex;
          align-items: center;
          box-sizing: border-box;

          .card_template_box {
            min-width: calc(200% + 30px);
            max-height: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            // padding: 0 10%;
            box-sizing: border-box;
            .card_template {
              background-repeat: no-repeat;
              background-size: cover;
              background-position: center;
              width: 100%;
              height: 100%;
              box-sizing: border-box;
              position: relative;
              border: 2px solid #000;
              pointer-events: auto;
              &.tiger {
                background-image: url("./image/cardTemplateA.png");
                margin: 0 30px 0 0;
                #tooltipTiger {
                  opacity: 0;
                  position: absolute;
                  background-color: rgba(0, 0, 0, 0.5);
                  color: white;
                  top: 0;
                  left: 0;
                  z-index: 5;
                  padding: 10px;
                  border-radius: 5px;
                  transition: 0.05s;
                  white-space: nowrap;
                }
              }
              &.tiger:hover #tooltipTiger {
                opacity: 1;
              }
              &.tree {
                background-image: url("./image/cardTemplateB.png");
                #tooltipTree {
                  opacity: 0;
                  position: absolute;
                  background-color: rgba(0, 0, 0, 0.5);
                  color: white;
                  top: 0;
                  left: 0;
                  z-index: 5;
                  padding: 10px;
                  border-radius: 5px;
                  transition: 0.05s;
                  white-space: nowrap;
                }
              }
              &.tree:hover #tooltipTree {
                opacity: 1;
              }
            }
          }
        }
      }
    }
    .card_area {
      //   height: 60vh;
      // width: 100vw;
      display: flex;
      justify-content: center;
      align-items: center;
      box-sizing: border-box;
      padding: 0 10%;
      position: relative;
      &.display {
        opacity: 1;
        pointer-events: auto;
        height: unset;
        .card_design_area {
          .card_design_overlay {
            .textarea_wrap {
              #textArea {
                pointer-events: auto;
              }
            }
            .signature_wrap {
              #signatureArea.signature {
                pointer-events: auto;
              }
            }
          }
        }
      }
      &.hidden {
        opacity: 0;
        pointer-events: none;
        height: 0;
        .card_design_area {
          .card_design_overlay {
            .textarea_wrap {
              #textArea {
                pointer-events: none;
              }
            }
            .signature_wrap {
              #signatureArea.signature {
                pointer-events: none;
              }
            }
          }
        }
      }
      .card_design_area {
        width: 100%;
        height: 100%;
        padding-top: 140%;
        background-repeat: no-repeat;
        background-size: 100%;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        .card_design_border {
          width: 100%;
          height: 100%;
          position: absolute;
          top: -1px;
          left: -1px;
          border: 1px solid #000;
          box-sizing: content-box;
          z-index: 0;
        }
        .card_design_preview {
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          z-index: 0;
          pointer-events: none;
          opacity: 0;
          &.display_preview {
            pointer-events: auto;
            z-index: 10;
            opacity: 1;
          }
        }
        .card_design_overlay {
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          align-items: center;
          pointer-events: none;
          z-index: 1;
          background-repeat: no-repeat;
          background-size: 100%;
          overflow: hidden;

          .background_img {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            object-fit: cover;
            // background-repeat: no-repeat;
            // background-size: cover;
            pointer-events: none;
            // &.bgTiger {
            //   background-image: url("./image/cardTemplateA.png");
            // }
            // &.bgTree {
            //   background-image: url("./image/cardTemplateB.png");
            // }
            &.tiger {
              pointer-events: none;
              &.tiger_display {
                opacity: 1;
                transform: translateY(0);
              }
              &.tiger_hidden {
                opacity: 0;
                transform: translateY(100vh);
              }
            }
            &.tree {
              pointer-events: none;
              &.tree_display {
                opacity: 1;
                transform: translateY(0);
              }
              &.tree_hidden {
                opacity: 0;
                transform: translateY(100vh);
              }
            }
          }
          .textarea_wrap {
            margin-top: 37.5%;
            height: 10%;
            width: 100%;
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            .textarea_placeholer {
              // position: absolute;
              width: 100%;
              height: 100%;
              background-color: transparent;
              // top: 0;
              // left: 0;
              padding:0 12%;
              font-size: 16px;
              line-height: 16px;
              box-sizing: border-box;
              pointer-events: none;
              transition: 0.3s;
              color: #fff;
              z-index: 3;
              // letter-spacing: 2px;
              &.hidden {
                opacity: 0;
              }
            }
            #textArea {
              border: none;
              outline: none;
              width: 100%;
              height: 100%;
              box-sizing: border-box;
              resize: none;
              overflow-y: hidden;
              font-size: 16px;
              line-height: 16px;
              font-weight: 600;
              pointer-events: auto;
              position: absolute;
              background-color: transparent;
              color:#fff;
              padding:0 12%;
              // letter-spacing: 2px;
            }
          }
          .signature_wrap {
            height: 12%;
            width: 100%;
            position: relative;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            box-sizing: border-box;
            padding-bottom: 5%;
            .signature_placeholer {
              position: absolute;
              width: 60%;
              height: 50%;
              box-sizing: border-box;
              pointer-events: none;
              transition: 0.3s;
              text-align: end;
              display: flex;
              align-items: center;
              justify-content: flex-end;
              text-align: end;
              padding: 2% 10% 2% 2%;
              z-index: 3;
              color: #333;
              color:#fff;
              bottom: 35%;
              &.hidden {
                opacity: 0;
              }
            }
            #signatureArea.signature {
              border: none;
              outline: none;
              background-color: transparent;
              width: 60%;
              height: 50%;
              box-sizing: border-box;
              font-weight: 600;
              font-size: 16px;
              position: absolute;
              pointer-events: auto;
              resize: none;
              display: flex;
              align-items: center;
              justify-content: flex-end;
              overflow-y: hidden;
              padding: 2% 10% 2% 2%;
              text-align: end;
              white-space: break-all;
              color:#fff;
              bottom: 35%;
            }
          }
        }
      }
    }
    .bottom_button_area {
      display: flex;
      justify-content: space-evenly;
      box-sizing: border-box;
      padding: 30px 20px 30px 20px;
      background-color: #fff;
      margin: 7% 0 0 0;
      align-items: center;
      .logo {
        width: 120px;
        height: 40px;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url("./image/logo.png");
        background-position: center center;
        margin: 0 20px 0 0;
      }
      .bottom_btn {
        height: 40px;
        width: 30%;
        display: flex;
        justify-content: center;
        line-height: 40px;
        box-sizing: border-box;
        font-size: 100%;
        -webkit-user-select: none;
        -moz-user-select: none;
        -o-user-select: none;
        user-select: none;
        transition: 0.3s;
        color: #fff;
        line-height: 50px;
        cursor: pointer;
        margin: 0 10px;
        background-repeat: no-repeat;
        background-size: contain;

        background-position: center;
      }
      .reset_card_btn {
        background-image: url("./image/again2.png");
        &:hover {
          background-image: url("./image/again1.png");
        }
      }
      .next_btn {
        background-image: url("./image/next2.png");
        &:hover {
          background-image: url("./image/next1.png");
        }
      }
      .previous_btn {
        background-image: url("./image/previous2.png");
        &:hover {
          background-image: url("./image/previous1.png");
        }
      }
      .save_btn {
        background-image: url("./image/save2.png");
        &:hover {
          background-image: url("./image/save1.png");
        }
      }
      .share_btn {
        background-image: url("./image/sand2.png");
        &:hover {
          background-image: url("./image/sand1.png");
        }
      }
    }
    @media screen and (min-width: 800px) {
      .bottom_button_area {
        .bottom_btn {
          height: 60px;
        }
      }
    }
  }
}
